{% extends 'base.html' %}
{% block content %}
<form method="post" class="shadow-lg p-3 mb-5 bg-white rounded">
  {% csrf_token %}
   <div class="row">
        <div class="shadow-lg p-3 mb-5 bg-light rounded">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="form-group">
                         <h3 class="card-title">Are You Sure Want to Delete This Item from the List ?.....</h3><br>
                         <button type="submit" class="btn btn-danger">CONFIRM</button>
                    </div>
                </div>
            </div>
        </div>
   </div>

</form>
{% endblock %}