{% extends 'base.html' %}
{% block content %}

<!--<div class="bg-success p-2 text-dark bg-opacity-50">-->
<!--    <div class="border border-success p-2 mb-2 border-opacity-75">-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner">
                        <div class="banner-text">

                        </div>
                    </div>
                </div>
            </div>
        </div>
<form method="POST" class="shadow-lg p-3 mb-5 bg-white rounded">
  {% csrf_token %}

   <div class="row">
        <div class="shadow-lg p-3 mb-5 bg-light rounded">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="form-group">
                        <div class="form-control">
                            <div class="container">
                                <div class="span2">
                                    <p><b>{{form.as_p}}</b></p>
                                </div>
                            </div>
                        </div>
                        <br>
                         <button type="submit" class="btn btn-success">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
   </div>

</form>
    </div>
</div>
{% endblock %}